<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426439350953-3n4a5jmu7v6l60efd3f6akl4aplttd1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426439350953-3n4a5jmu7v6l60efd3f6akl4aplttd1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCzuKxHhQ4_9kxAGxF8zScO8bo5z7y1KlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426439350953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accenture.stefano.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-c7c39</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-c7c39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426439350953:ios:d7a4016dc621a06ff267b8</string>
</dict>
</plist>